pkgbase = chatgpt-bin
	pkgdesc = ChatGPT by OpenAI
	pkgver = 26.803.81509
	pkgrel = 1
	url = https://developers.openai.com/codex/app
	arch = x86_64
	arch = aarch64
	license = custom
	depends = glib2
	depends = gtk3
	depends = nss
	depends = libnotify
	depends = libxcb
	depends = mesa
	depends = libglvnd
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = alsa-lib
	depends = at-spi2-core
	depends = atk
	depends = cairo
	depends = openssl
	depends = libcups
	depends = dbus
	depends = libdrm
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = graphite
	depends = nspr
	depends = pango
	depends = systemd-libs
	depends = libusb
	depends = libxkbcommon
	depends = tar
	depends = xdg-utils
	source_x86_64 = https://persistent.oaistatic.com/codex-app-prod/linux/rpm/latest/chatgpt.x86_64.rpm
	source_aarch64 = https://persistent.oaistatic.com/codex-app-prod/linux/rpm/latest/chatgpt.aarch64.rpm
	sha256sums_x86_64 = SKIP
	sha256sums_aarch64 = SKIP

pkgname = chatgpt-bin
